:root {
    --bg-color: #0a121f;
    --bg-color-light: #1b253a;
    --text-color: #d2dae9;
    --text-color-light: #f2f4f7;
    --primary-color: #35db95;
    --icon-color: #8d96b0;
    --error-color: #db4035;
    font-family: 'Noto Sans', serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    margin-bottom: 1.5rem;
}

a {
    text-decoration: none;
}

li>a {
    display: flex;
    transition: color 0.3s;
    color: var(--text-color-light);
}

li>a:hover,
li>a:focus {
    color: var(--primary-color);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}