/* hamburger menu */



/* buttons */
.button {
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all 0.3s;
}

.button:hover {
    border: 2px solid var(--primary-color);
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* progress bars */
.progress-bg {
    border-radius: 10px;
    background-color: var(--bg-color-light);
}

.progress-bar {
    height: 10px;
    border-radius: 10px;
    background: var(--primary-color);
}

.skill-a {
    animation: skillA 2s forwards;
}

.skill-b {
    animation: skillB 2s forwards;
}

.skill-c {
    animation: skillC 2s forwards;
}

.skill-d {
    animation: skillD 2s forwards;
}

.skill-e {
    animation: skillE 2s forwards;
}

.skill-f {
    animation: skillF 2s forwards;
}

/* forms */


/*media queries*/
@media screen and (prefers-reduced-motion: no-preference) {
    @keyframes skillA {
        0% {
            width: 0;
        }
    
        100% {
            width: 85%;
        }
    }

    @keyframes skillB {
        0% {
            width: 0;
        }

        100% {
            width: 95%;
        }
    }

    @keyframes skillC {
        0% {
            width: 0;
        }

        100% {
            width: 20%;
        }
    }

    @keyframes skillD {
        0% {
            width: 0;
        }

        100% {
            width: 70%;
        }
    }

    @keyframes skillE {
        0% {
            width: 0;
        }

        100% {
            width: 40%;
        }
    }

    @keyframes skillF {
        0% {
            width: 0;
        }

        100% {
            width: 90%;
        }
    }
}