.footer {
    background-color: var(--bg-color-light);
}

.footer-content {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    .list {
        display: flex;
        gap: 10px;

        svg {
            width: 32px;
            height: 32px;
            transition: fill 0.3s;
            fill: var(--icon-color);
        }

        svg:hover, a:focus>svg {
            fill: var(--primary-color);
        }
    }

    .text {
        margin: 0;
        font-weight: 700;
        color: var(--text-color);
    }
}

@media screen and (max-width: 375px) {
    .footer {
        .footer-content {
            flex-direction: column;
            gap: 1rem;
        }
    }
}