.footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    .list {
        display: flex;
        gap: 10px;
        svg {
            width: 32px;
            height: 32px;
        }
    }
    .text {
        margin: 0;
        font-weight: 700;
    }
}

@media screen and (max-width: 335px) {
    .footer {
        flex-direction: column;
        gap: 10px;
    }
}