.header {
    background-color: var(--bg-color-light);

    .header-content {
        margin: 0 auto;
        max-width: 1024px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Anek Latin', serif;
        font-size: 1.2rem;
        font-weight: 700;

        svg {
            display: flex;
            width: 32px;
            height: 32px;
            fill: var(--text-color-light);
        }

        .nav {
            .list {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        .header-content {
            .nav {
                .list {
                    display: flex;
                    gap: 1rem;
                }
            }
        }
    }
}